@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'viewscroller';

@import 'super_sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.btn {
  font-size: 30px;
  font-weight: normal;

  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border-bottom: 3px solid darken($blue, 10%);
  border-radius: 15px;
  &.btn-red {
    border-bottom: 3px solid darken($red, 10%);
    background-color: $red;
  }
  &:hover {
    text-decoration: none;
    &.btn-red {
      border-bottom: 3px solid darken($red, 20%);
      background-color: darken($red, 10%);
    }
  }
}

.red-form {
  position: relative;

  width: 720px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;

  text-align: center;

  border-radius: 30px;
  background-color: $red;
  .red-form--title {
    font-size: 70px;

    margin-bottom: 10px;
    padding-right: 80px;

    text-transform: uppercase;

    color: #fff;
  }
  .red-form--subtitle {
    font-size: 33px;

    margin-bottom: 10px;

    text-transform: uppercase;

    color: #fff;
  }
  .discount {
    font-size: 70px;

    position: absolute;
    top: 15px;
    right: 35px;

    display: block;

    width: 100px;
    height: 100px;
    padding-top: 10px;

    text-align: center;

    color: #000;
    border-radius: 50%;
    background-color: $yellow;
    span {
      font-size: 36px;
    }
  }
  input,
  button {
    font-size: 17px;

    display: inline-block;

    width: 290px;
    height: 35px;
    margin-right: 10px;

    text-transform: uppercase;

    border-radius: 15px;

    justify-content: space-between;
  }
  button {
    font-size: 34px;

    margin-right: 0;
    margin-left: 10px;
    padding: 0;

    text-align: center;

    color: #000;
    background-color: $yellow;
    &:hover {
      background-color: darken($yellow, 20%);
    }
  }
}
.brown-wth-border {
  border-bottom: 8px solid $brown-dark;
  background-color: $brown;
}
.title-with-arrow {
  font-size: 92px;

  position: relative;

  padding: 0;

  text-transform: uppercase;

  color: $gray-medium;

  @extend .brown-wth-border;
  &:after {
    position: absolute;
    bottom: -44px;
    left: 50%;

    margin-left: -683px;

    @include triangle(1366px 36px, $red, down);
    @extend .dblock;
  }
}
header {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: row;

  height: 125px;

  @extend .brown-wth-border;
  align-items: center;
  justify-content: center;
  .header--logo,
  .header--nav,
  .header--phone {
    display: inline-block;

    height: 100%;
  }
  .header--logo {
    display: flex;
    flex-direction: row;

    width: 20%;

    align-items: center;
    justify-content: space-around;
    img {
      max-width: 100%;
    }
  }
  .header--nav {
    width: 52%;
    padding-top: 25px;
    ul {
      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: space-around;
      li {
        display: inline-block;

        text-align: center;
        text-transform: uppercase;
        span {
          display: block;
        }
        a {
          font-size: 30px;

          text-decoration: none;

          color: #fff;
        }
        &:hover {
          a {
            text-decoration: none;

            color: $red;
          }
        }
      }
    }
  }
  .header--phone {
    font-size: 57px;

    display: flex;
    flex-direction: row;

    width: 23%;

    color: $gray-medium;

    align-items: center;
    justify-content: space-around;
    &:hover {
      text-decoration: none;

      color: darken($gray-medium, 15%);
    }
  }
}

.blockbg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-first {
  background-image: url(../img/bg/home-first.jpg);

  @extend .blockbg;
  .home-first--title {
    font-size: 80px;

    margin-bottom: 30px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
  }
  .home-first--subtitle {
    font-size: 50px;

    margin-bottom: 40px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
  }
}

.home-second {
  position: relative;

  padding-top: 284px;

  background-image: url(../img/bg/home-second.jpg);

  @extend .blockbg;
  .home-second--title {
    position: absolute;
    top: 125px;
    right: 0;
    left: 0;

    @extend .title-with-arrow;
  }
  .weoffer {
    display: inline-block;

    width: 330px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px;

    background-color: $gray-light;
    img {
      width: 300px;
      height: 260px;
      margin-bottom: 10px;
    }
    .weoffer--title {
      font-size: 30px;
      font-weight: bold;

      height: 60px;
      margin-bottom: 15px;

      text-transform: uppercase;
    }
    .weoffer--subtitle {
      font-size: 21px;
      font-weight: bold;

      height: 40px;
      margin-bottom: 10px;
      padding-right: 30px;
      padding-left: 30px;
    }
    ul {
      display: block;

      height: 75px;
      margin: 0 0 20px;
      padding: 0;

      text-align: left;
      li {
        font-size: 23px;

        margin-bottom: 5px;
      }
    }
    .btn {
      display: inline-block;

      width: 100%;
    }
  }
}

.home-third {
  background-image: url(../img/bg/home-third.jpg);

  @extend .blockbg;
}

.home-fourth {
  background-image: url(../img/bg/home-fourth.jpg);

  @extend .blockbg;
}
.home-five {
  background-image: url(../img/bg/home-five.jpg);

  @extend .blockbg;
}
.home-six {
  background-image: url(../img/bg/home-six.jpg);

  @extend .blockbg;
}

.home-seven {
  background-image: url(../img/bg/home-seven.jpg);

  @extend .blockbg;
}
.home-eight {
  background-image: url(../img/bg/home-eight.jpg);

  @extend .blockbg;
}




@import 'fonts/font_fontawesome';
@import 'fonts/font_myriadpro';
@import 'base64';
@import 'import/print';
