@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'viewscroller';

@import 'super_sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}

header {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: row;

  height: 125px;

  border-bottom: 8px solid $brown-dark;
  background-color: $brown;

  align-items: center;
  justify-content: center;
  .header--logo,
  .header--nav,
  .header--phone {
    display: inline-block;

    height: 100%;
  }
  .header--logo {
    display: flex;
    flex-direction: row;

    width: 20%;

    align-items: center;
    justify-content: space-around;
    img {
      max-width: 100%;
    }
  }
  .header--nav {
    width: 52%;
    padding-top: 25px;
    ul {
      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: space-around;
      li {
        display: inline-block;

        text-align: center;
        text-transform: uppercase;
        span {
          display: block;
        }
        a {
          font-size: 30px;

          text-decoration: none;

          color: #fff;
        }
        &:hover {
          a {
            text-decoration: none;

            color: $red;
          }
        }
      }
    }
  }
  .header--phone {
    font-size: 57px;

    display: flex;
    flex-direction: row;

    width: 23%;

    color: $gray-medium;

    align-items: center;
    justify-content: space-around;
    &:hover {
      text-decoration: none;

      color: darken($gray-medium, 15%);
    }
  }
}


.blockbg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-first {
  background-image: url(../img/bg/home-first.jpg);

  @extend .blockbg;
}

.home-second {
  background-image: url(../img/bg/home-second.jpg);

  @extend .blockbg;
}

.home-third {
  background-image: url(../img/bg/home-third.jpg);

  @extend .blockbg;
}

.home-fourth {
  background-image: url(../img/bg/home-fourth.jpg);

  @extend .blockbg;
}
.home-five {
  background-image: url(../img/bg/home-five.jpg);

  @extend .blockbg;
}
.home-six {
  background-image: url(../img/bg/home-six.jpg);

  @extend .blockbg;
}

.home-seven {
  background-image: url(../img/bg/home-seven.jpg);

  @extend .blockbg;
}
.home-eight {
  background-image: url(../img/bg/home-eight.jpg);

  @extend .blockbg;
}




@import 'fonts/font_fontawesome';
@import 'fonts/font_myriadpro';
@import 'base64';
@import 'import/print';
