@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'viewscroller';

@import 'super_sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}

header {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: row;

  height: 125px;

  border-bottom: 8px solid $brown-dark;
  background-color: $brown;

  align-items: center;
  justify-content: center;
  .header--logo,
  .header--nav,
  .header--phone {
    display: inline-block;

    height: 100%;
  }
  .header--logo {
    width: 20%;

    background-color: red;
    img {
      max-width: 100%;
    }
  }
  .header--nav {
    width: 47%;

    background-color: blue;
  }
  .header--phone {
    width: 28%;

    background-color: green;
  }
}
nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
  .headnav {
    font-size: 100%;
  }
}

.blockbg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-first {
  background-image: url(../img/bg/home-first.jpg);

  @extend .blockbg;
}

.home-second {
  background-image: url(../img/bg/home-second.jpg);

  @extend .blockbg;
}

.home-third {
  background-image: url(../img/bg/home-third.jpg);

  @extend .blockbg;
}

.home-fourth {
  background-image: url(../img/bg/home-fourth.jpg);

  @extend .blockbg;
}
.home-five {
  background-image: url(../img/bg/home-five.jpg);

  @extend .blockbg;
}
.home-six {
  background-image: url(../img/bg/home-six.jpg);

  @extend .blockbg;
}

.home-seven {
  background-image: url(../img/bg/home-seven.jpg);

  @extend .blockbg;
}
.home-eight {
  background-image: url(../img/bg/home-eight.jpg);

  @extend .blockbg;
}






@import 'fonts/font_fontawesome';
@import 'fonts/font_roboto';
@import 'base64';
@import 'import/print';
